
// Setting color scheme

    $metalicWhite: #f9f9f9;
    $metalicBlack: #2a2a2a;
    $mattGrey: #555555;
    $hotPink: #ee534f;
    $burntPink: #a25452;
//
// Creating style packages

    @mixin dark {
        background-color: $metalicBlack;
        color: $metalicWhite;
    }

    @mixin light {
        background-color: $metalicWhite;
        color: $metalicBlack;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
//
/*--------- Official Homepage Styling ---------*/

    * {
        font-family: 'Montserrat', sans-serif;
    }
    
    body {
        margin: 0;
        header {
            padding: 0;
            #logo {
                grid-column: 1/4;
                margin-top: 3%;
                margin-left: 5%;
                padding: 5%;
            }
            #burger {
                position: relative;
                background-color: transparent;
                border: 0;
                transform: scale(0.6);
                grid-column: 5/7;
            }
            @keyframes roll {
                0% {
                    transform: rotate(-180deg);
                }
                40% {
                    transform: rotate(90deg);
                }
                70% {
                    transform: rotate(-90deg);
                }
            }
            nav {
                @include light;
                padding: 0.5%;
                ul {
                    display: none;
                    word-spacing: 30px;
                    padding: 0;
                    grid-column: 1/7;
                    text-align: center;
                    li {
                        display: inline;
                    }
                    #homeLink {
                        color: $hotPink;
                    }
                }
            }
            section {
                @include dark;
                padding: 5%;
                text-align: center;
                background-image: url("../images/homeHeadMedium.jpg");
                background-size: cover;
                #content {
                    background-color: $metalicBlack;
                    padding: 5%;
                    border-radius: 2px;
                }
                h1 {
                    font-size: 8vw;
                    letter-spacing: 2px;
                    margin: 0;
                    padding-bottom: 40px;
                }
                p {
                    margin: 0 5%;
                    padding-bottom: 40px;
                    font-size: 15px;
                }
                #readMore {
                    background-color: $hotPink;
                    border: 1px $hotPink solid;
                }
            }
            #slideIndicateBox {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin: 0 auto;
                margin-top: 60px;
                width: 65px;
                div {
                    margin: 0 2.5px;
                    height: 3px;
                    background-color: $metalicWhite;
                    border-radius: 1px;
                }
                #midIndicate {
                    background-color: $hotPink;
                    height: 7px;
                    margin-top: -2px;
                }
            }
        }
    }

    /*
        <When elements are nested, media quieries cannot be declared outside of their nest, therefore any elements that need to be queried should be put outside of the nest to avoid confusion and reducing code quality.>
    */
    
    //----Pending for media queries---->
    .buttonBox {
        width: 220px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sectionButton {
        @include dark;
        border: 1px $mattGrey solid;
        border-radius: 2px;
        padding: 10% 0;
        width: 95%;
        margin: 2px auto;
        font-size: 12px;
    }
    article {
        @include light;
        grid-template-columns: 1fr;
        padding: 10%;
        .intro {
            margin: 0 auto;
            hr {
                border-radius: 2px;
                width: 45%;
                border: none;
                height: 1.5px;
                float: left;
                background-color: lightgrey;
                margin-bottom: 30px;
            }
            #orangeRule {
                width: 60px;
                background-color: $hotPink;
                height: 2.5px;
                margin-top: 7.5px;
            }
            .stopFloat {
                clear: both;
            }
            .personInfo {
                font-size: 8vw;
            }
            button {
                @include light;
                display: block;
                margin: 0 auto;
                margin-top: 10%;
                border: 1px $mattGrey solid;
                border-radius: 2px;
                padding: 15px;
            }
        }
        .images {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            padding-top: 60px;
            margin: 0 -5%;
            .img {
                background-color: $mattGrey;
                border-radius: 2px;
            }
            #imgBig {
                grid-column: 1/3;
                grid-row: 3/5;
            }
            height: 70vw;
        }
        #workImages {
            grid-template-rows: repeat(4, 1fr);
            height: 130vw;
        }
        #teamImages {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 2fr 1fr);
            height: 750vw;
            hr {
                width: 100%;
            }
            .img {
                margin-right: 10%;
                margin-top: 40px;
            }
            .about {
                padding: 10%;
                padding-top: 0;
                padding-left: 5%;
                box-shadow: 0 20px 40px -20px lighten($color: grey, $amount: 10%);
            }
            margin: 0 0;
        }
    }
    #work {
        @include dark;
        display: grid;
        text-align: center;
        padding-bottom: 40px;
        div {
            padding: 5%;
        }
        h1, p {
            margin: 0 10%;
        }
        h1 {
            font-size: 25px;
            margin: 10px 10%;
        }
    }


    
/*---/---Media Enquiries for the Homepage---/---*/

// @media (min-width: 420px) {
//     .buttonBox {
//         width: 60%;
//     }
//     button {
//         width: 20;
//     }
// }
